README.html
LAYOUT.html
FAQ.html
DESIGN.html
CONTRIBUTING.html
CONDUCT.html
*~
*.pyc
_site
.DS_Store
.ipynb_*
twitterOAuth.R
.httr-oauth
data/Kaggle_Training_Dataset_v2.csv
data/Kaggle_Test_Dataset_v2.csv
data/application_train.csv
data/KaggleV2-May-2016.csv
data/churn_network.xlsx
.Rhistory
*.log
.Rproj.user
tutorial/06_minimal_make/ex1/data_science.aux
tutorial/06_minimal_make/ex1/data_science.bbl
tutorial/06_minimal_make/ex1/data_science.blg
tutorial/06_minimal_make/ex1/data_science.out
*.Rout
*.RData